{% extends 'base.html' %}
{% block content %}
    <div style="padding:15px" class="col">
        <div class="listing card">
            <div class="card-header">
                <h4>My Watchlist</h4>
                <form class="form-inline">
                    <label style="padding-right:10px;" for="sortBy">Sort By:</label>
                    <select style="width: auto" id="sortBy" name="sortBy" class="form-control">
                        <option value="1">Bids (High to Low)</option>
                        <option value="2">Bids (Low to High)</option>
                        <option value="3">Current Bid (High to Low)</option>
                        <option value="4">Current Bid (Low to High)</option>
                        <option value="5">New</option>
                    </select>

                </form>


            </div>
            {% for item in items %}
            <div class="card-block listed-item">
                <div class="row">
                    <div class="col-lg">
                        <div class="row">

                            <div class="col">
                                <h5>{{item.title}}</h5>
                                <p><strong>Origin: </strong>{{item.origin_country}}<br>
                                    <strong>Oxidation: </strong>{{item.oxidation}}<br>
                                    <strong>Packing: </strong>{{item.packing}}<br><br>
                                    <strong>Current Bid: </strong>${{item.highest_bid}}<u>(14 Bids)</u>
                                </p>
                                <a href="/tea/{{item.id}}" class="btn btn-default item-btn">View Item</a>
                            </div>
                            <div class="col">
                                <h5>Watchlist Information:</h5>
                                <p><strong>Added on: </strong> {{item.date_added}}<br>
                                    <strong>Ending: </strong> 14/10/2020 8:00am<br>
                                    <strong>Bid Status: </strong> Winning

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img class="product-img" src="{{item.photos_url}}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .carousel-item {
            background-color: var(--darker);
        }
    </style>
{% endblock %}
    