{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    
    <!-- {{wtf.quick_form(form)}} -->
                    

    <div style="padding: 15px 30px 15px 30px;" class="row">
        <div class="col-lg-7">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-img d-block h-100" src="{{auctionListing.photos_url}}" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3>{{auctionListing.title}}</h3>
                        </div>
                        <div class="col">
                            {% if current_user.id == auctionListing.user_id %}
                            <button style="width: 180px; float: right;" data-toggle="modal" data-target="#bidList" class="btn btn-default item-btn">View Bids</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="right-align">
                        Origin: <b>{{auctionListing.origin_country}}</b><br>
                        Oxidation: <b>{{auctionListing.oxidation}}</b><br>
                        Packing: <b>{{auctionListing.packing}}</b><br>
                        Weight: <b>{{auctionListing.weight}}g</b><br><br>
                        {% if auctionListing.bid_status ==1 %}
                        Remaining Time: <b>{{timeLeft}}</b>
                        {% else %}
                        Remaining Time: <b>Bidding Concluded</b>
                        {% endif %}
                    </p>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p style="padding-left:40px;" class="right-align">
                            {% if auctionListing.bid_status == 1 %}
                            Current Bid: <b>${{auctionListing.current_bid}}</b>
                            {% else %}
                            Winning Bid: <b>${{auctionListing.current_bid}}</b>
                            {% endif %}
                        </p>
                    </div>
                    {% if auctionListing.bid_status == 1 and current_user.is_authenticated%}
                    <div class="col">
                        {% if current_user.id != auctionListing.user_id %}
                        <div class="detail-btn row justify-content-end">
                            <a style="width: 180px;" href="#" class="btn btn-default item-btn" data-toggle="modal"
                                data-target="#staticBackdrop">Place a Bid</a>
                        </div>
                        
                        {% endif %}
                        {% if watchlistExists == False%}
                        <div class="detail-btn row justify-content-end">
                            <a style="width: 180px;" href="/tea/{{auctionListing.id}}/watchlist" class="btn btn-default item-btn">Add To Watchlist</a>
                        </div>
                        {% endif %}
                    
                    </div>
                    {% else %}
                    <div class="col">
                        <div class="detail-btn row justify-content-end">
                            <a style="width: 180px;" href="/login" class="btn btn-default item-btn">Place a Bid</a>
                        </div>
                    </div>
                        
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:10px 30px 0px 30px">
        <div style="padding: 15px" class="col-lg">
            <div class="card h-100">
                <div class="card-header">
                    <h4>Item Description</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>Auctioned By: {{username}}</h4> 
                            <p>{{auctionListing.description}}</p>
                        </div>
                        <div class="col">
                            <b>Ingredients:</b><br> 
                            <ul>
                                {% for ingredient in ingredients %}
                                <li>{{ingredient}}</li>
                                {%endfor%}

                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% if current_user.id == auctionListing.user_id %}
    <div class="modal fade" id="bidList" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Bid List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Time</th>
                        </tr>
                        {% for bid in bidList %}
                        <tr>
                            <td>{{bid.user_id}}</td>
                            <td>{{bid.bid_amount}}</td>
                            <td>{{bid.bid_time}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Place a bid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    <h5>{{auctionListing.title}}</h5>
                    <b>Time Left: </b>{{timeLeft}}<br>
                    <b>Current Bid: </b>${{auctionListing.current_bid}}

                    </p>
                    {{wtf.quick_form(form)}}

                </div>
            

            </div>
        </div>
    </div>

    <style>
        .carousel-item {
            height: 432px;
            background-color: var(--darker);
        }

        .carousel-img {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}
    
